export LIBDNS_DNSEXIT_API_KEY=<my_api_key>
export LIBDNS_DNSEXIT_ZONE=<zone_I_control.com.>
export LIBDNS_DNSEXIT_DEBUG=<TRUE/FALSE>
export LIBDNS_DNSEXIT_TEST_RECORD_PREFIX=<prefix_to_identify_test_records>
export LIBDNS_DNSEXIT_TEST_SUBDOMAIN=<my_test_subdomain>
